.o_calc_popup_content {
    .modal-header {
        cursor: move;
    }
    .ec_calculator {
        width: 300px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;

        .close_calc_popup {
            position: absolute;
            top: 0;
            right: 10px;
            padding: 2px;
            font-size: 18px;
            color: white;
            cursor: pointer;
        }

        .ec_buttons {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 7px;

            .ec_calculator_btn {
                padding: 22px;
                font-size: 20px;
                border: none;
                cursor: pointer;
            }
        }
    }
}
